html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}

html{-moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px}

body{
text-align:left;
color:#333;
/*background-color:#d9dfe6;*/
font:75% "Trebuchet MS", verdana, arial, tahoma, sans-serif}

strong{font-weight:900}

hr{color:#1e3052}

a{
color:#2f72d2;
font-weight:bold;
text-decoration:underline;
background:inherit;}

a:hover {
text-decoration:none;
color:#1e3052;}

a img {
border: 0;}

p{
text-indent:10px;
text-align:justify;
margin:0 10px}

pre{
text-indent:10px;
text-shadow:#aaa 2px 2px 2px;
text-align:justify;
margin:0 10px 5px 10px;
white-space:pre-wrap}

h1{
color:#1e3052;
padding:10px 0 0 0;
font-size:1.4em;
font-weight:900;
text-transform:capitalize;
letter-spacing:2px;
text-align:center}

h2{
margin-left:10px;
font-weight:900;
font-size:1.3em}

h3{font-weight:900;
font-size:1.1em}

h4{text-align:left;
text-decoration:underline;
margin:5px 40px 0 40px;
font-weight:900;
font-size:1.3em}

ul,ol{margin-left:20px}

table,th,td {/*Таблицы*/
border-collapse:collapse;
width:100%}

th{padding:0;
text-align:center;
text-decoration:underline}
td{
padding:1px 3px;
border:1px solid #666}

td a{text-decoration:none}

.table:nth-child(even){background:#cccbd0 url(../img/tablemiddle.jpg)}
.table:nth-child(odd){background-image:url(../img/tablemiddleodd.jpg)}

form{text-align:center}/*Формы*/

label{font-weight:900;
font-size:1.05em}

textarea{
background-color:#8eabd5;
border:1px solid #5c8cd0;
color:#1e3052;
width:600px;
max-width:600px;
min-height:200px;
margin:5px 0;
padding:5px;
-moz-border-radius:10px;
-khtml-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px}

input{
background-color:#8eabd5;
border:1px solid #5c8cd0;
color:#1e3052;
width:600px;
max-width:600px;
height:16px;
margin:5px auto;
padding:5px 0;
text-align:center;
font-weight:900;
-moz-border-radius:10px;
-khtml-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px}

form .checkbox_cont{
text-align:left;
margin:0 20px}

.checkbox{
padding:2px;
margin:5px;
text-align:left;
width:16px;
height:16px;
-moz-border-radius:2px;
-khtml-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px}

.upload{height:26px}

.submit{
border-width:3px;
margin-top:10px;
cursor:pointer;
height:34px}

.submit:hover{color:#fff;border-color:#1e3052;background-color:#5c8cd0}

.subfiles{margin-left:21px}

.add,.edit,.delit,.logout,.lock,.home,.profile,.pdf,.djvu,.backup,.arrow_right,.arrow_left,.share,.user,.file_ico,.folder,.wiki,.link,.doc{/*Иконки и Кнопочки*/
cursor:pointer;
display:block;
padding:3px 5px 2px 36px;
background:no-repeat 15px 3px;}

p>.add,p>.edit,p>.delit,p>.logout,p>.lock,p>.home,p>.profile,p>.pdf,p>.djvu,p>.backup,p>.arrow_right,p>.arrow_left,p>.share,p>.user,p>.file_ico,p>.folder,p>.wiki,p>.link,p>.doc{padding-left:25px}
			
.add{background-image:url(../img/add.png)}
.edit{background-image:url(../img/edit.png)}
.delit{background-image:url(../img/delete.png)}
.logout{background-image:url(../img/logout.png)}
.lock{background-image:url(../img/lock.png)}
.home{background-image:url(../img/home.png)}
.profile{background-image:url(../img/profile.png)}
.pdf{background-image:url(../img/pdf.gif)}
.djvu{background-image:url(../img/djvu.jpg)}
.backup{background-image:url(../img/backup.png)}
.arrow_right{background-image:url(../img/arrow_right.png)}
.arrow_left{background-image:url(../img/arrow_left.png)}
.share{background-image:url(../img/share.png)}
.user{background-image:url(../img/user.png)}
.file_ico{background-image:url(../img/file.png)}
.folder{background-image:url(../img/folder.png)}
.wiki{background-image:url(../img/wiki.jpg)}
.link{background-image:url(../img/link.png)}
.doc{background-image:url(../img/doc.jpg)}

.success{color:#060}/*Предупреждения*/
.fail{color:#e00}
.filled{
border:2px solid #53de2d;
}
.nfilled{
border:2px solid #de2d2d;
background-color:#ffe6e6
}

p>img{margin:10px; float:right}